#ignore .csv files
*.csv
#donot ignore
!product.csv
!member_data.csv
#ignore .idea/
.idea/

#ignore data folder
Data/
#ignore pycahe
__Pycache__/
# ignore lock files
*.lock
#ignore .venv folder
.venv/

